.jumbotron{
	background-image:
linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
url('surf2.jpg');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	color:white;
  	height: 550px;
}